.card {
  height: 300px;
  width: 170px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: transform 1s;
  position: relative;

  &.ED {
    background: rgb(0, 181, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 181, 255, 1) 0%,
      rgba(0, 102, 215, 1) 31%,
      rgba(0, 211, 255, 1) 100%
    );
  }

  &.EP {
    background: rgb(151, 255, 69);
    background: linear-gradient(
      90deg,
      rgba(151, 255, 69, 1) 0%,
      rgb(56, 167, 0) 31%,
      rgba(35, 255, 0, 1) 100%
    );
  }

  &.EU {
    background: rgb(255, 134, 238);
    background: linear-gradient(
      90deg,
      rgba(255, 134, 238, 1) 0%,
      rgba(195, 0, 187, 1) 31%,
      rgba(255, 93, 249, 1) 100%
    );
  }

  &.EX {
    background: rgb(255, 184, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 184, 0, 1) 0%,
      rgba(199, 190, 0, 1) 31%,
      rgba(254, 255, 93, 1) 100%
    );
  }

  &.SS {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
      );
  }

  .inner {
    background-color: white;
    display: flex;
    height: 100%;
    border-radius: 5px 14px 5px 5px;
    flex-direction: column;
    cursor: pointer;

    .info {
      height: 25px;
      width: 100%;
      border-radius: 5px 20px 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(0, 183, 255);

      .name {
        width: 80%;
        height: 100%;
        border-radius: 5px 0 0 0;
        padding-left: 5px;
        display: flex;
        align-items: center;
      }

      .group {
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        height: 15px;
        width: 15px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .picture {
      img {
        margin: 5px;
        width: calc(100% - 10px) !important;
        height: 110px !important;
        object-fit: cover;
        border-radius: 0 5px 5px;
      }
    }

    .specs {
      height: 100%;
      border-radius: 9px;
      border: 1px solid gray;
      margin: 4px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;

      .spc {
        background-color: rgb(0, 132, 255);
        width: calc(100% - 20px);
        border-radius: 5px;
        margin: 0 5px;
        padding: 0 5px;
        font-size: 12px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        span {
          font-size: 14px;
          height: 100%;
          font-weight: 500;
          background-color: rgb(97, 97, 97);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 72px;
          margin-right: -5px;
          border-radius: 5px;
        }
      }
    }
  }

  .overlay {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    pointer-events: none; 

    mat-icon{
      display: none;
    }
  }
  
  .inner:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);

    mat-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      color: white;
    }
  }
}

// .card:hover {
//   transition: 1s ease;
//   cursor: pointer;
//   z-index: 9999999999999;
// }
