<section class="full-page">
  <div class="content">
    <div class="login">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          >
            Por favor, insira um email válido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error
            *ngIf="
              form.get('password')?.invalid && form.get('password')?.touched
            "
          >
            A senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isRegister">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name"/>
          <mat-error
            *ngIf="
              form.get('name')?.invalid && form.get('name')?.touched && isRegister
            "
          >
            Campo obrigatório
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          type="submit"
          [disabled]="form.invalid"
          [@textChange]="isRegister ? 'register' : 'login'"
        >
          {{ isRegister ? "Registrar" : "Entrar" }}
        </button>
        <a class="link" (click)="toggleMode()">{{
          !isRegister ? "Registrar" : "Entrar"
        }}</a>
      </form>
    </div>
  </div>
</section>
