<div class="header">
  <app-list-header [cardListDefault]="cardListDefault" [cardList]="cardListDefault" (cardListOrdered)="setCardList($event)" (backToMenu)="backToMenu.emit(true)"></app-list-header>
</div>
<div
  class="content"
  [ngClass]="!loading ? 'content-cards' : 'content-spin'"
>
  <ng-container *ngIf="cardList.length > 0 && !loading">
    <app-card *ngFor="let card of cardList" [card]="card"></app-card>
  </ng-container>
  <ng-container *ngIf="cardList.length == 0 && !loading">
    <div class="spin">
      <div class="warn" *ngIf="spinCards.length == 0">
        Ganhe 5 cartas
        <button mat-fab extended (click)="getCardsFromSpin()">
          <img src="../../imgs/lottery.png" />
        </button>
      </div>
      <ng-container *ngIf="spinCards.length > 0">
        <div class="cards">
          <div
            class="card-flip"
            *ngFor="let card of spinCards; let i = index"
            (click)="toggleFlip(i)"
            [@cardFlip]="data[i].state"
          >
            <div class="face back"><div class="card-back"></div></div>
            <div class="face front">
              <app-card [card]="card"></app-card>
            </div>
          </div>
        </div>
        <button mat-flat-button (click)="backToCollection()">Voltar</button>
      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
