<div class="content">
  <div class="card">
    <div class="info">
      <div class="name">Camaro</div>
      <div class="group">3C</div>
    </div>
    <div class="picture"><img src="assets/cars/3c.jpg" alt=""></div>
    <div class="specs">
        <div class="spc">Cilindrada</div>
        <div class="spc">Cilindro</div>
        <div class="spc">Potencia</div>
        <div class="spc">Velocidade</div>
        <div class="spc">0 a 100 km/h</div>
    </div>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
